<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shiva Reddy's Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="background-animation"></div>

    <!-- Navigation Bar -->
    <header>
        <div class="header-content">
            <div class="name"><a href="{{ url_for('index') }}">Shiva Reddy</a></div>

            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('projects') }}">Projects</a></li>
                    <li><a href="{{ url_for('skills') }}">Skills</a></li> <!-- Added Skills here -->
                    <li><a href="{{ url_for('experience') }}">Experience</a></li>
                    <li><a href="{{ url_for('education') }}">Education</a></li>
                    <li><a href="{{ url_for('certifications') }}">Certifications</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <div class="content-container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
